body {
	padding-top: 5px;
}

.panel, .progress {
    margin-bottom: 5px;
}

.answers {
	padding-top: 25px;
	height: 370px;
}

.container-footer .text-muted {
	margin: 13px 0;
}

#wrap {
	margin: 0 auto -48px;
	/* Pad bottom by footer height */
	padding: 0 0 48px;
}
#footer {
	height: 48px;
}