body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eee;
}

.container {
    max-width: 710px;
    min-width: 500px;
}

div.panel-body h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.radio input[type="radio"] {
    position: relative;
    top: -2px;
}

.answers {
    padding-left: 30px;
    padding-top: 35px;
    font-size: 18px;
    height: 390px;
}

#btn-post-answer {
    float: right;
}

ul {
    font-size: 16px;
}

div.alert-custom {
    width: 87%;
    padding: 12px;
    margin-bottom: -1px;
}

i.spinner, #fail-result {
    position: relative;
    text-align: center;
    left: 40%;
    top: 20%;
    color: #5bc0de;
}

#logo {
    text-align: center;
}

#test-result {
    text-align: center;
    margin-top: 80px;
}

strong.nice-gap {
    background: rgba(51, 51, 51, 0.13);
    width: 50px;
    height: 18px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: -3px;
    border-radius: 4px 4px 4px 4px;
}