/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -55px;
	/* Pad bottom by footer height */
	padding: 0 0 55px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 55px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-footer {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
.container-footer .text-muted {
	padding-top: 14px;
	margin: 20px 0;
}

.container-footer .alpha-custom {
	font-weight: normal;
	color: red;
	border: 0px;
	position: relative;
	left: -9px;
	top: -12px;
	text-shadow: 0 0 0.5px red,
	0 0 1px red,
	0 0 1px red,
	0 0 1px #A7CFDF,
	0 0 1px #A7CFDF,
	0 0 1px #A7CFDF,
	0 0 0px #A7CFDF,
	0 0 0.2px #A7CFDF;
}

.container-footer .ct_label {
	padding: 0px 6px 0px;
	text-decoration: none;
	font: bold 126%/126%  "Lucida Grande", Arial, sans-serif;
	text-shadow:0 0 0.5px #A7CFDF, 0 0 1px #A7CFDF, 0 0 1px #A7CFDF, 0 0 1px #A7CFDF, 0 0 1px #A7CFDF, 0 0 1px #A7CFDF, 0 0 0px #A7CFDF, 0 0 0.2px #A7CFDF;
	position: absolute;
	color: #96d1f8;/*rgb(167,207,223);*/ /* Old browsers */
	color: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
	color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
	color: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
	color: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
	color: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
	color: linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
}