html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

table.computers em {
    color: #aaa;
}

table.computers .introduced, table.computers .discontinued {
    width: 10%;
    min-width: 100px;
}

table.computers .company_name {
    width: 30%;
    min-width: 300px;
}

table.computers .header a {
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

/**GUMBY**/


.image {
	line-height: 0;
	margin-bottom: 20px;
}
.image.circle {
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-ms-border-radius: 50% !important;
	-o-border-radius: 50% !important;
	border-radius: 50% !important;
	overflow: hidden;
	width: auto;
}
.image.rounded {
	overflow: hidden;
	-webkit-border-radius: 4px 4px;
	-moz-border-radius: 4px 4px;
	-ms-border-radius: 4px 4px;
	-o-border-radius: 4px 4px;
	border-radius: 4px 4px;
}
.image.photo {
	border: 5px solid white;
	-webkit-box-shadow: 0 0 1px #555555;
	-moz-box-shadow: 0 0 1px #555555;
	box-shadow: 0 0 1px #555555;
}
.image.photo.polaroid {
	padding-bottom: 50px;
	background: #fff;
}

.row .one.columns {
	width: 7.45455%;
}

/**-----GUMBY-----**/
