html {
    overflow-y: scroll;
}

html, body {
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em !important;
    height: 100%;
    margin: 0px;
}


@font-face {
    font-family: 'KomodaRegular';
    src: url('/assets/fonts/komoda/komoda.eot');
    src: url('/assets/fonts/komoda/komoda.eot') format('embedded-opentype'),
         url('/assets/fonts/komoda/komoda.woff') format('woff'),
         url('/assets/fonts/komoda/komoda.ttf') format('truetype'),
         url('/assets/fonts/komoda/komoda.svg#KomodaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main-body {
	opacity: 1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background: url('/assets/images/background-landing.svg') repeat;
    background-size: 500px;
}

.footer-header-style {
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(91%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(60,60,60,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(60,60,60,1) 0%,rgba(69,72,77,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid rgba(60,60,60,0.8);

	/*this part makes border transparent*/
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	/*Glow*/
	-webkit-box-shadow: 0px 0px 8px rgba(255,255,255,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(255,255,255,0.3);
	box-shadow: 0px 0px 8px rgba(255,255,255,0.3);
}

.footer {
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
}

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
	left: 0px;
}

#bgCanvas {
    position: fixed;
    top: 40px;
}

.wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
}

.content-wrapper .first_page{
    margin: 80px auto 40px auto ;
    padding: 30px;
    background-color: rgba(40,40,40,0.8);
    width: 80%;
    height: 80%;

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    /*border: 3px solid rgba(40,40,40,0.3);*/

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.content-wrapper .login_page {
	max-width: 400px;
}

.login_page .page-header h1 {
	color: #ffffff;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.login_page p {
	position: relative;
	text-align: center;
}

.login_page p a {
	color: #ffffff;
	text-decoration: none;
}
.login_page p a:hover,.login_page p a:focus {
	color: #82D9CE;
}

.login_page fieldset {
	border: none;
	margin: 0px;
	text-align: center;
}


.login_page input {
	font-size: 14px;
}

.login_page input[type="text"],
.login_page input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 238px;
}

.login_page input[type="text"] {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.login_page input[type="password"] {
	border-top: none;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-ms-border-radius: 0px 0px 3px 3px;
	-o-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}

.login_page .control-group.error input {
	border: 2px solid red;
}

.login_page .control-group.error .help-inline {
	display: none;
}

.login_page button[type="submit"] {
	margin-top: 15px;
	background: #82D9CE;
	padding: 15.5px 20px;
	border: 0px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	color: white;
	font-size: 20px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}

.login_page .form-actions a {
	margin-left: 15px;
	position: relative;
	top: 6px;
	background: #9FA4A8;
	padding: 15.5px 20px;
	border: 0px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	color: white;
	font-size: 20px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.login_page .form-actions a:hover {
	background: #888E92;
	color: #ccc;
}

.login_page .alert {
	padding: 5px 0px 4px 25px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 2px;
}

.content-wrapper .profile_info {
    margin: 80px auto 40px auto ;
    padding: 30px;
    background-color: rgba(125, 140, 118,0.8);
    width: 80%;
    height: 80%;

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    /*border: 3px solid rgba(40,40,40,0.3);*/

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.big_container {
    width: 100%;
}

.left_container {
    width: 59%;
    float: left;
}

.right_container {
    width: 39%;
    float: left;
}

.inner_left_container {
    width: 50%;
    float: left;
}

.inner_right_container {
    width: 39%;
    float: right;
}

.clearer {
    clear: both;
}
.content-wrapper .questions-notification {
	width: 80%;
	height: 25px;
	margin: auto;
	margin-top: 40px;
	padding: 10px 30px 10px 30px;
	border-radius: 4px 4px 0px 0px;
	background-color: rgba(40,40,40,0.8);
	overflow: hidden;
	font-size: 18px;
	border-width: 0px !important;
}
.content-wrapper .questions {

    margin: auto;
    /*margin-top: 80px;*/
    padding: 10px 30px 15px 30px;
    background-color: rgba(40,40,40,0.8);
    width: 80%;
    height: 80%;

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    /*border: 3px solid rgba(40,40,40,0.3);*/

    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;

	position: relative;
	overflow: hidden;
}

.content-wrapper .questions.success {
	padding: 10px 21px 30px 21px;
	border: 9px solid #91e26a;
	border-top: 0;
}
.content-wrapper .questions.danger {
	padding: 10px 21px 30px 21px;
	border: 9px solid #df8989;
	border-top: 0;
}

.content-wrapper .questions-transparecy {
	position: absolute;
	margin: auto;

	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
	z-index: 7;
	top: 0px;
	left: 0px;

	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;

	text-align: center;
}

.content-wrapper .stats_toolbar {
    margin: auto /*80px auto 40px 40px */;
    margin-top: 40px;
    padding: 30px;
    background-color: rgba(40,40,40,0.8);
    width: 80%;
    height: 80%;

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    /*border: 3px solid rgba(40,40,40,0.3);*/

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.content-wrapper .hello, .content-wrapper .questions h1, .content-wrapper .stats_toolbar h1 {
    font: italic 28px Baskerville, Georgia;
    margin: 0 0 18px;
    margin-bottom: 10px;
    color: /*#464646*/rgba(255, 255, 0, 0.7);
}

.content-wrapper .hello strong, .content-wrapper .questions h1 strong, .content-wrapper .stats_toolbar h1 strong {
	color: /*#464646*/rgba(255, 255, 0, 0.9);
}
strong.nice-gap {
	background: rgba(255, 255, 0, 0.7);
	width: 50px;
	height: 18px;
	display: inline-block;
	overflow: hidden;
	margin-bottom: -3px;
	border-radius: 4px 4px 4px 4px;
}

.cool_t {
    font: bold 330%/100% "Lucida Grande";
    position: relative;
    color: #464646;
}
.cool_t span {
    background: url(gradient.png) repeat-x;
    position: absolute;
    display: block;
    width: 100%;
    height: 31px;
}

.some_buttons {
    position: relative;
    margin-top: 40px;
}

.some_buttons .button {
    border-top: 1px solid #82D9CE;
    background: rgba(130, 217, 206, 1);
    background: -webkit-gradient(linear, left top, left bottom, from(#56837D), to(#82D9CE));
    background: -webkit-linear-gradient(top, #56837D, #82D9CE);
    background: -moz-linear-gradient(top, #56837D, #82D9CE);
    background: -ms-linear-gradient(top, #56837D, #82D9CE);
    background: -o-linear-gradient(top, #56837D, #82D9CE);
    padding: 17px 34px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(40,40,40,1) 0 1px 0;
    -moz-box-shadow: rgba(40,40,40,1) 0 1px 0;
    box-shadow: rgba(40,40,40,1) 0 1px 0;
    text-shadow: rgba(40,40,40,.4) 0 1px 0;
    color: white;
    font-size: 22px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}

.questions .button {
    margin-top: 15px;
    /*border-top: 1px solid #82D9CE;*/
    background: #82D9CE;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#56837D), to(#82D9CE));*/
    /*background: -webkit-linear-gradient(top, #56837D, #82D9CE);*/
    /*background: -moz-linear-gradient(top, #56837D, #82D9CE);*/
    /*background: -ms-linear-gradient(top, #56837D, #82D9CE);*/
    /*background: -o-linear-gradient(top, #56837D, #82D9CE);*/
    padding: 20.5px 25px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
    border-radius: 43px;
    /*-webkit-box-shadow: rgba(40,40,40,1) 0 1px 0;*/
    /*-moz-box-shadow: rgba(40,40,40,1) 0 1px 0;*/
    /*box-shadow: rgba(40,40,40,1) 0 1px 0;*/
    /*text-shadow: rgba(40,40,40,.4) 0 1px 0;*/
    color: white;
    font-size: 20px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

.questions .button.circle {
	border: 3px solid #E1EEF7/*#82D9CE*/;
	padding: 17.5px 22px;
}

.questions .skip {
	margin-top: 98px;
	position: relative;
	left: 98px;
	padding: 7px 8px;
	-webkit-border-radius: 43px;
	-moz-border-radius: 43px;
	border-radius: 28px;
	font-size: 13px;
	border-top: 1px solid #888E92;
	background: #9FA4A8;
}

.questions .inner_right_container .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:right;
}

.questions .button:hover, .some_buttons .button:hover, .login_page button:hover {
    /*border-top-color: #28597a;*/
    background: rgba(78, 134, 127, 1);
    color: #ccc;
}
.questions .skip:hover{
	/*border-top-color: #888E92;*/
	background: #888E92;
	color: #ccc;
}
.questions .button:active, .some_buttons .button:active {
    /*border-top-color: #1b435e;*/
    background: #1b435e;
}

#tools {
    display: block;
    top: 5px;
    position: relative;
    margin-left: 50px;
}

.ct_label {
    padding: 0px 0px 0px;
    text-decoration: none;
    font-family: "KomodaRegular";
    font-size: 45px;
    color: white;
    background-image: url('/assets/images/small-logo.jpg');
    background-size: 50px;
    height: 50px;
    background-repeat: no-repeat;
    padding-left: 50px;
    position: absolute;
}

.ct_label_white {
    color: rgb(167,207,223); /* Old browsers */
    color: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
    color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
    color: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
    color: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
    color: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
    color: linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
}

.image.rounded {
	overflow: hidden;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
/*
#tools a {
    font: bold 145%/195% "Lucida Grande", Arial, sans-serif;
    position: relative;
    color: white;
    padding: 9px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-top: 5px;

    border-left: 1px solid rgba(40,40,40,0.4);
}

#tools a:hover {
    opacity: 0.9;
    Glow
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.9);
}
*/

#tools span {
    position: absolute;
    background: url(/public/images/gradient-dark-stripe-hz.png) repeat-x;
    height: 100%;
    left: 0px;
    width: 100%;
    top: 12px;
}

/*html {
    border-top: 5px solid #67A927;
}*/


.user_answers {
    color: #FFF;
    font-size: 23px;
    font-family: Century Gothic, sans-serif;
    position: relative;
    padding: 10px;
    width:100%;
    /* border-bottom: 1px solid white;*/
    text-shadow: black 1px 1px 2px/*,  white 0 0 0.2em*/;
    /*-webkit-tap-highlight-color: rgba(40,40,40,0);*/

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.user_answers:HOVER/*, .user_answers:FOCUS*/ {
    border:thin;
    -moz-box-shadow:    inset 0 0 10px white;
    -webkit-box-shadow: inset 0 0 10px white;
    box-shadow:         inset 0 0 10px white;
	cursor: pointer;
}

.answer_shadow {
    border:thin;
    -moz-box-shadow:    inset 0 0 30px white !important;
    -webkit-box-shadow: inset 0 0 30px white !important;
    box-shadow:         inset 0 0 30px white !important;
}

/**
		result
**/

/*.result {
    color: #FFF;
    font-size: 23px;
    font-family: Century Gothic, sans-serif;
    position: relative;
    text-shadow: black 1px 1px 2px;
    text-align: center;
    font-weight:bold;
}

.wrong {

    padding: 18px;
    border:thin;
    -moz-box-shadow:    inset 0 0 60px red !important;
    -webkit-box-shadow: inset 0 0 60px red !important;
    box-shadow:         inset 0 0 60px red !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.right {
    padding: 18px;
    border:thin;
    -moz-box-shadow:    inset 0 0 60px #00FF7F !important;
    -webkit-box-shadow: inset 0 0 60px #00FF7F !important;
    box-shadow:         inset 0 0 60px #00FF7F !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
   */
.q_tag {
	float: left;
	margin: 2px;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
    padding: 3px;
    -moz-box-shadow:    inset 0 0 45px white;
    -webkit-box-shadow: inset 0 0 45px white;
    box-shadow:         inset 0 0 45px white;
    text-wrap:none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.q_tag:HOVER, .q_tag:FOCUS {
    padding: 4px;
    -moz-box-shadow:    inset 0 0 100px white;
    -webkit-box-shadow: inset 0 0 100px white;
    box-shadow:         inset 0 0 100px white;
    position: relative;
}

.result_parts {
    color: #FFF;
    font-size: 19px;
    font-family: Century Gothic, sans-serif;
    position: relative;
    text-shadow: black 1px 1px 2px/*,  white 0 0 0.2em*/;
    font-weight:normal;
    margin-right: 5px;
}

.stats_numbers {
    color: #82D9CE;
    font-size: 19px;
    font-family: Georgia,Serif, sans-serif;
    position: relative;
    text-shadow: black 1px 1px 2px/*,  white 0 0 0.2em*/;
    font-weight:normal;
    margin-right: 5px;
}

.explanation, .comment {
    color: #A7CFDF/*#00FE00*/;
    font-size: 19px;
    font-family: Baskerville, Georgia, italic;
    position: relative;
    text-shadow: black 1px 1px 2px/*,  white 0 0 0.2em*/;
    margin-right: 5px;
    text-weight: bold;
}
.correct {
    font: italic 28px Baskerville, Georgia;
    color: rgba(255, 255, 0, 0.8);
}

.answ_circle {
    width: 13px;
    height: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    float: left;
    margin-left: 2px;
    margin-right: 15px;
    margin-top: 5px;
    /*-moz-box-shadow: inset 0 7px 11px rgba(255,255,255,1);
   -webkit-box-shadow: inset 0 7px 11px rgba(255,255,255,1);
   box-shadow: inset 0 7px 11px rgba(255,255,255,1);*/
    /*   box-shadow: 0 3px 8px rgba(255, 255, 255, 0.99) inset;*/
}

.not_choosed {
    -moz-box-shadow: inset 0 0 5px rgba(255,255,255,1);
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,1);
    box-shadow: inset 0 0 5px rgba(255,255,255,1);
}

.choosed {
    -moz-box-shadow: inset 0 7px 11px rgba(255,255,255,1);
    -webkit-box-shadow: inset 0 7px 11px rgba(255,255,255,1);
    box-shadow: inset 0 7px 11px rgba(255,255,255,1);
}

.hardTextarea {
    padding: 0;
    border: 0;
    outline: none;
    width: 100%;
    height: 170px;
    padding: 12px 20px 0px 20px;
    margin: 0 0 -6px 0;
    background: #5E768D;
    background: -moz-linear-gradient(top, /*#546A7F 0%, #5E768D*/rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 20%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,/*#546A7F*/rgba(0, 0, 0, 0.5)), color-stop(20%,/*#5E768D*/rgba(0, 0, 0, 0.2))); /* webkit */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 1px 0px /*#f2f2f2*/rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 0px /*#f2f2f2*/rgba(0, 0, 0, 0.5);
    /*font-family: sans-serif;
    font-size: 16px;
    color: #FFFFFF;*/
    font-family: Century Gothic,sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    /*text-transform: uppercase; */
    /*text-shadow: 0px -1px 0px #334f71;*/
    text-shadow: 1px 1px 2px black;
    resize: none;
}

.hardTextarea::-webkit-input-placeholder  {
    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
    font-family: sans-serif;
    font-size: 16px;
}
.hardTextarea:-moz-placeholder {
    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
    font-family: sans-serif;
    font-size: 16px;
}

.hardTextarea:focus {
    background: rgba(255, 255, 255, 0.2);
    background: -moz-linear-gradient(top, /*#668099*/rgba(255, 255, 255, 0.3) 0%, /*#728eaa*/rgba(255, 255, 255, 0.2) 20%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,/*#668099*/rgba(255, 255, 255, 0.5)), color-stop(20%,/*#728eaa*/rgba(255, 255, 255, 0.2))); /* webkit */
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.glad_to_see_you {
    /*float: right;
    position: relative;*/
    color: white;
    font-family: Georgia,Serif;
    font-size: 16px;
    padding: 5px;
}

.statistics_div {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 250px rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 250px rgba(255, 255, 255, 0.3) inset;
    padding: 22px;

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}


/*
TIMELINE
*/

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

/* body { */
/*     width: 500px; */
/*     margin: 20px auto; */
/*     font: 16px/1.4 Arial, sans-serif; */
/*     background: #f3eee9; */
/* } */

/* p { */
/*     margin: 0 0 1em; */
/* } */

.history_record {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;

}

.history_record-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.history_record-img img {
    display: block;
}

.history_record-body {
    overflow: hidden;
}

.history_record .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #DDD;
    margin-left: 5px;
}

.text_parts {
    color: #444;
    font-size: 19px;
    font-family: Century Gothic, sans-serif;
    position: relative;
    font-weight:normal;
    margin-right: 5px;
}

.history_record .text p:last-child {
    margin: 0;
}

.history_record .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.history_records,
.history_record {
    position: relative;
}

.history_records {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 250px rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 250px rgba(255, 255, 255, 0.3) inset;
    padding: 22px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.history_records:before,
.history_record:before,
.history_record .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.history_records:before {
    width: 3px;
    top: 0px;
    bottom: 0px;
    margin-left:20px;
    /*     left:19%; */
    background: rgba(40,40,40,0.1);
}

.history_record:before {
    width: 9px;
    height: 9px;
    border: 3px solid #DDD;
    border-radius: 100px;
    margin: 16px 0 0 -8px;

    /*     left:15.5%; */
    box-shadow: 0 1px 1px rgba(40,40,40,0.2), inset 0 1px 1px rgba(40,40,40,0.1);
    background: #ccc;
}

.history_record:hover:before {
    background: orange;
}

.history_record .text:before {
    top: 18px;
    margin-left:20px;
    /*     left: 20%; */
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #DDD;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.hello div.courses {
    height: 250px;
}

@media screen and (max-width:970px) {
    .hello div.courses {
        height: 480px;
    }
}

@media screen and (max-width:750px) {

	.content-wrapper .hello, .content-wrapper .questions h1, .content-wrapper .stats_toolbar h1 {
		font-size: 20px;
	}

	.content-wrapper .questions h1 strong{
		font-size: 20px;
	}

	.user_answers {
		font-size: 17px;
	}

	strong.nice-gap{
		width: 40px;
		height: 15px;
	}

	.alert strong {
		font-size: 13px;
	}

    .hello div.courses {
        height: 450px;
    }
}

@media screen and (max-width:595px) {
	#header a.right.a-mmenu,
	.header a.right.a-mmenu
	{
		top: -30px;
	}

	.left_container {
		float: none;
		width: 100%;
	}
	.right_container {
		float: none;
		width: 100%;
	}
	/*.content-wrapper .questions-notification {*/
	/*margin-top: 60px;*/
	/*}*/
	.content-wrapper .questions, .content-wrapper .questions-notification  {
		/*margin-left: ;*/
		/*margin-right: 10px;*/
		width:80%;
		/*padding:10px;*/
	}
	.content-wrapper .stats_toolbar {
		margin-top: 10px;
		/*margin-left: 10px;*/
		margin-bottom: 10px;
		/*margin-right: 10px;*/
		width:80%;
		/*padding:10px;*/
	}
	.inner_left_container {
		width: 48%;
	}
	.wrong, .right {
		margin-top:30px;
	}
    .hello div.courses {
        height: 450px;
    }
}

@media screen and (max-width:325px) {
	.login_page fieldset {
		margin-left: -13px;
	}
​}
/***
* Glumby framework css
***/
 .alert {
	 padding: 0 10px;
	 font-family: "Open Sans";
	 font-weight: 600;
	 list-style-type: none;
	 word-wrap: break-word;
	 margin-bottom: 8px;
	 font-size: 14px;
	 font-size: 0.875rem;
	 -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -ms-border-radius: 4px;
	 -o-border-radius: 4px;
	 border-radius: 4px;
 }
.alert.danger {
	background: #df8989;
	border: 1px solid #ca3838;
	color: #7b2121;
}
.alert.warning {
	background: #fbdca0;
	border: 1px solid #f6b83f;
	color: #c68609;
	color: #644405;
}
.alert.default {
	background: white;
	border: 1px solid #f2f2f2;
	color: #bfbfbf;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.alert.info {
	background: #7b8085;
	border: 1px solid #4a4d50;
	color: #191a1b;
	color: #f2f2f2;
}
.alert.success {
	background: #91e26a;
	border: 1px solid #58c026;
	color: #316b15;
}


/* Fonts */
@font-face { font-family: "entypo"; font-style: normal; font-weight: 400; src: url(../../fonts/icons/entypo.eot); src: url("../../fonts/icons/entypo.eot?#iefix") format("ie9-skip-eot"), url("../../fonts/icons/entypo.woff") format("woff"), url("../../fonts/icons/entypo.ttf") format("truetype"); }


 Icons
[class^="gumby-icon-"] a:before,
[class*=" gumby-icon-"] a:before,
[class^="gumby-icon-"] a:after,
[class*=" gumby-icon-"] a:after,
i[class^="gumby-icon-"],
i[class*=" gumby-icon-"] {
	font-family: "entypo";
	position: absolute;
	text-decoration: none;
	zoom: 1;
}

i[class^="gumby-icon-"],
i[class*=" gumby-icon-"] {
	display: inline-block;
	position: static;
	min-width: 20px;
	margin: 0 5px;
	text-align: center;
}

.gumby-icon-cancel.gumby-icon-left a:before, .gumby-icon-cancel.gumby-icon-right a:after {
	content: "\2715";
	height: inherit;
}

i.gumby-icon-cancel:before {
	content: "\2715";
	height: inherit;
}

.gumby-icon-cancel-circled.gumby-icon-left a:before, .gumby-icon-cancel-circled.gumby-icon-right a:after {
	content: "\2716";
	height: inherit;
}

i.gumby-icon-cancel-circled:before {
	content: "\2716";
	height: inherit;
}

.gumby-icon-cancel-squared.gumby-icon-left a:before, .gumby-icon-cancel-squared.gumby-icon-right a:after {
	content: "\274e";
	height: inherit;
}

i.gumby-icon-cancel-squared:before {
	content: "\274e";
	height: inherit;
}

.gumby-icon-doc-text.gumby-icon-left a:before, .gumby-icon-doc-text.gumby-icon-right a:after {
	content: "📄";
	height: inherit;
}

i.gumby-icon-doc-text:before {
	content: "📄";
	height: inherit;
}

.gumby-icon-doc-text-inv.gumby-icon-left a:before, .gumby-icon-doc-text-inv.gumby-icon-right a:after {
	content: "\e731";
	height: inherit;
}

i.gumby-icon-doc-text-inv:before {
	content: "\e731";
	height: inherit;
}

.gumby-icon-login.gumby-icon-left a:before, .gumby-icon-login.gumby-icon-right a:after {
	content: "\e740";
	height: inherit;
}

i.gumby-icon-login:before {
	content: "\e740";
	height: inherit;
}

.gumby-icon-logout.gumby-icon-left a:before, .gumby-icon-logout.gumby-icon-right a:after {
	content: "\e741";
	height: inherit;
}

i.gumby-icon-logout:before {
	content: "\e741";
	height: inherit;
}

.gumby-icon-cog.gumby-icon-left a:before, .gumby-icon-cog.gumby-icon-right a:after {
	content: "\2699";
	height: inherit;
}

i.gumby-icon-cog:before {
	content: "\2699";
	height: inherit;
}

.gumby-icon-chart-pie.gumby-icon-left a:before, .gumby-icon-chart-pie.gumby-icon-right a:after {
	content: "\e751";
	height: inherit;
}

i.gumby-icon-chart-pie:before {
	content: "\e751";
	height: inherit;
}

.gumby-icon-chart-line.gumby-icon-left a:before, .gumby-icon-chart-line.gumby-icon-right a:after {
	content: "📈";
	height: inherit;
}

i.gumby-icon-chart-line:before {
	content: "📈";
	height: inherit;
}

.gumby-icon-chart-bar.gumby-icon-left a:before, .gumby-icon-chart-bar.gumby-icon-right a:after {
	content: "📊";
	height: inherit;
}

i.gumby-icon-chart-bar:before {
	content: "📊";
	height: inherit;
}

.gumby-icon-chart-area.gumby-icon-left a:before, .gumby-icon-chart-area.gumby-icon-right a:after {
	content: "🔾";
	height: inherit;
}

i.gumby-icon-chart-area:before {
	content: "🔾";
	height: inherit;
}

.gumby-icon-rocket.gumby-icon-left a:before, .gumby-icon-rocket.gumby-icon-right a:after {
	content: "🚀";
	height: inherit;
}

i.gumby-icon-rocket:before {
	content: "🚀";
	height: inherit;
}



/* Labels Gumby */
.badge, .label {
	height: 20px;
	display: inline-block;
	font-family: Helvetica, arial, verdana, sans-serif;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
.badge a, .label a {
	color: #fff;
}
.badge.primary, .label.primary {
	background: #3085d6;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.secondary, .label.secondary {
	background: #42a35a;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.default, .label.default {
	background: #f2f2f2;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.default:hover, .label.default:hover {
	border: 1px solid #e5e5e5;
}
.badge.default a, .label.default a {
	color: #555555;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.info, .label.info {
	background: #4a4d50;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.danger, .label.danger {
	background: #ca3838;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.warning, .label.warning {
	background: #f6b83f;
	color: #644405;
}
.badge.warning a, .label.warning a {
	color: #644405;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.success, .label.success {
	background: #58c026;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.twitter, .label.twitter {
	background: #00aced;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}
.badge.facebook, .label.facebook {
	background: #3b5998;
}
.badge.light, .label.light {
	background: #fff;
	color: #555555;
	border: 1px solid #f2f2f2;
}
.badge.light a, .label.light a {
	color: #d04526;
}
.badge.dark, .label.dark {
	background: #212121;
}

.badge {
	padding: 0 10px;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

 /**---------------------**/

.alert.success:before {
	font-family: "entypo";
	content: "\2713";
	font-size: 1.4em;
	position: relative;
	top: 14%;
	left: -17px;
	z-index: 999;
	color: #316b15;
}
.alert.gumby-icon-cancel-squared.gumby-icon-left a:before, .alert.gumby-icon-cancel-squared.gumby-icon-right a:after {
	position: relative;
	top: 14%;
	/*right: -3%;*/
	z-index: 999;
	float: right;
	font-size: 2em;
	left: 20px;
}
.alert a.gumby-icon-doc-text-inv.gumby-icon-right:after {
	position: relative;
	top: 14%;
	z-index: 999;
	float: right;
	content: "\e731";
	height: inherit;
	font-size: 1.7em;
	margin-right: 8px;
}
.alert a.gumby-icon-doc-text.gumby-icon-right:after {
	position: relative;
	top: 14%;
	z-index: 999;
	float: right;
	content: "📄";
	height: inherit;
	font-size: 1.7em;
	margin-right: 8px;
}
.alert.success.gumby-icon-cancel-squared.gumby-icon-left a:before, .alert.success.gumby-icon-cancel-squared.gumby-icon-right a:after {
	color: #316b15;
}
.alert.warning:before {
	font-family: "entypo";
	content: "\26a0";
	font-size: 1.4em;
	position: relative;
	top: 14%;
	left: -17px;
	z-index: 999;
	color: #644405;
}
.alert.warning.gumby-icon-cancel-squared.gumby-icon-left a:before, .alert.warning.gumby-icon-cancel-squared.gumby-icon-right a:after {
	color: #644405;
}
.alert.danger:before {
	font-family: "entypo";
	content: "\2716";
	font-size: 1.4em;
	position: relative;
	top: 14%;
	left: -17px;
	z-index: 999;
	color: #7b2121;
}
.alert.danger.gumby-icon-cancel-squared.gumby-icon-left a:before, .alert.danger.gumby-icon-cancel-squared.gumby-icon-right a:after {
	color: #7b2121;
}
.alert strong {
 	position: relative;
	top: 10%;
	left: -10px;
	width: 100%;
}

.header .gumby-icon-login,
.header .gumby-icon-logout,
.header .gumby-icon-cog{
	color: #82D9CE;
	font-style: normal;
	font-size: 2em;
	margin-right: 0.5em;
	margin-top: 10px;
}

.cbp-spmenu .gumby-icon-logout,
.cbp-spmenu .gumby-icon-chart-line,
.cbp-spmenu .gumby-icon-rocket {
	color: #FFFFFF;
	font-style: normal;
	font-size: 1.5em;
	margin-right: 0.5em;
}

.object {
	position: absolute;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
}
#notification-bar.header-loader {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
	background-color: #777 !important;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	/*-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;*/
	/*-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;*/
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;*/
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}
/***

loader sedtion
**/
#floatingCirclesG{
	position:relative;
	width:200px;
	height:200px;
	-moz-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:#FFFFFF;
	height:36px;
	width:36px;
	-moz-border-radius:18px;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:1.04s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:18px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:18px;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:1.04s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:18px;
	-o-animation-name:f_fadeG;
	-o-animation-duration:1.04s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:18px;
	animation-name:f_fadeG;
	animation-duration:1.04s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#frotateG_01{
	left:0;
	top:82px;
	-moz-animation-delay:0.39s;
	-webkit-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
	-o-animation-delay:0.39s;
	animation-delay:0.39s;
}

#frotateG_02{
	left:24px;
	top:24px;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#frotateG_03{
	left:82px;
	top:0;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#frotateG_04{
	right:24px;
	top:24px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#frotateG_05{
	right:0;
	top:82px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#frotateG_06{
	right:24px;
	bottom:24px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#frotateG_07{
	left:82px;
	bottom:0;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#frotateG_08{
	left:24px;
	bottom:24px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:#000000}

	100%{
		background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:#000000}

	100%{
		background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
	0%{
		background-color:#000000}

	100%{
		background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
	0%{
		background-color:#000000}

	100%{
		background-color:#FFFFFF}

}

@keyframes f_fadeG{
	0%{
		background-color:#000000}

	100%{
		background-color:#FFFFFF}

}

/***....***/


.cbp-spmenu a {
	/*my below*/
	text-decoration: none;
	/*position: relative;*/
	/*top: -75px;*/
}

.cbp-spmenu h3 {
	overflow: hidden;
	font-size: 1.1em !important;
}

.cbp-spmenu h3 div.fullname {
	float: left;
	top: -10px;
	/*left: 40px;*/
	max-width: 150px;
	position: relative;
}

#tools a b {
	font-size: 25px;
	margin-right: 5px;
	color: #82D9CE;
	font-weight: normal;
	margin-left: -15px;
}

.register-login {
	color: #82D9CE;
	text-decoration: none;
	cursor: pointer;
}

.icon-menu {
	color: #82D9CE;
	font-style: normal;
	font-size: 2em;
	margin-right: 0.5em;
	margin-top: 10px;
}